# General
.DS_Store
Thumbs.db
*.log

# IDE and editor folders
.vscode/
.idea/

client.md
editor.desktop
toggle.sh
viteConfigforLocalUse.md
# Environment variables
.env
.env.*

# Production build output
/frontend/dist
/frontend/release

# Node dependencies
/frontend/node_modules

arch.md
TODO.md
the algo.md
code_context.txt
combin.py
reverseCombine.md
# --- Frontend ---
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.*
frontend/venv
!frontend/.env.example