#contextual-scrollbar {
    width: 10px;
    /* Slimmer overall */
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    box-sizing: border-box;
    user-select: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    justify-content: center;
}

#contextual-scrollbar.is-scrollable {
    opacity: 0.5;
}

#contextual-scrollbar:hover {
    opacity: 1;
}

#scrollbar-thumb {
    width: 4px;
    height: 100px;
    background-color: var(--color-text-muted);
    border-radius: 4px;
    cursor: grab;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.2s ease;
}

#scrollbar-thumb:hover {
    background-color: var(--color-text);
}

#scrollbar-thumb:active {
    cursor: grabbing;
    background-color: var(--color-primary);
}

#scrollbar-index {
    position: absolute;
    right: 100%;
    top: 0;
    transform: translateY(-50%);
    width: 250px;
    background-color: var(--color-surface-light);
    border-radius: 8px;
    box-shadow: var(--color-shadow);
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 4px;

    opacity: 0;
    visibility: hidden;
    transform: translateY(-50%) translateX(10px);
    transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.2s;
    pointer-events: none;
}

#contextual-scrollbar:hover #scrollbar-index {
    opacity: 1;
    visibility: visible;
    transform: translateY(-50%) translateX(0);
    pointer-events: auto;
}

.scrollbar-index-item {
    padding: 6px 10px;
    font-size: 13px;
    color: var(--color-text);
    opacity: 0.7;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s, opacity 0.2s;
}

.scrollbar-index-item:hover {
    background-color: var(--color-surface-medium);
    color: var(--color-text);
    opacity: 1;
}

.scrollbar-index-item.active {
    background-color: var(--color-primary);
    color: var(--color-primary-text);
    font-weight: 500;
    opacity: 1;
}

.scrollbar-index-item.h3-item {
    padding-left: 20px;
}